$color-fondo:#141414;
$blanco-titulos:white;
$color-morado:#7852d1;
$color-cartas:#17171a;
$color-morado-oscuro:#302448;

$font-principal:'Sora', sans-serif;





/*MIXIN*/

@mixin tituloSize($color) {
    font-size: 2rem;
    color: $color;
    padding: 1rem 0;
}

.clase-ejemplo{
    @include tituloSize(red);
}